[submodule "third_part/spdlog"]
	path = third_part/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
